<h2> Code Details </h2>

<a href="/code/new"> Add a code </a>

<ul>

    <li>
      <h3> Code Name: <%= codeDetails.codeName %> </h3>
      <h4> Author: <%= codeDetails.codeAuthor %> </h4>
      <h4> Language: <%= codeDetails.codeLanguage %> </h5>
      <p> description: <%= codeDetails.codeDescription %> </p>
      <a href="<%= codeDetails.codeLink %>"> View Code </a>
    </li>
  
</ul>
